# List

In [1]:
a = ['A','B','C']
b = [1,2,3,4,5]

Lit methods
  - adding items
      - append
      - insert
  - Removing items
      - remove
      - pop

In [2]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)

In [3]:
numbers

[1, 2, 3]

In [8]:
for i in range(5):
    v = int(input("enter a number"))
    numbers.append(v)
    print(numbers)

[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 3]
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 3, 2]
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 3, 2, 5]
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 3, 2, 5, 2]
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 3, 2, 5, 2, 2]

In [12]:
z = numbers.remove(1)

In [14]:
numbers

[2, 3, 2, 3, 4, 2, 3, 4, 1, 3, 2, 5, 2, 2]

In [15]:
numbers.insert(2,4)

In [16]:
numbers

[2, 3, 4, 2, 3, 4, 2, 3, 4, 1, 3, 2, 5, 2, 2]

In [20]:
numbers.pop(3) #remove the data at index 3

2

In [21]:
numbers.pop() #remove the last item

2

In [22]:
numbers.clear()

In [23]:
numbers

[]

In [24]:
x = [1,2,3]
y = [2,3,5]
#merge a list in to another
x.extend(y)

In [25]:
x

[1, 2, 3, 2, 3, 5]

In [29]:
z = x+y
z

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

### delete the data  from memory

In [31]:
del a

In [32]:
del b

In [33]:
del file, i,numbers,v,x,y

### Mutable vs Immmutable

In [5]:
quote = 'I am a very simple person'
names = ['Desmond','Alex','Samus']

In [2]:
quote[7] = 'W' #Invalid

TypeError: 'str' object does not support item assignment

In [6]:
names[2] = 'Markus' #valid
print(names)

['Desmond', 'Alex', 'Markus']

In [1]:
data = set()
for i in range(1,10):
    int(input("Enter 10 Number"))
    print()

TypeError: bad operand type for unary +: 'set'